

<div>
<ul  class="goods">
    <li ng-repeat=" item in goods1" ng-click="getPage1(item.id)" >
        <img ng-src="{{item.src}}" alt="">
        <p>{{item.name}}</p>
    </li>
</ul>
<ul  class="goods">
    <li ng-repeat=" item in goods2" ng-click="getPage2(item.id)" >
        <img ng-src="{{item.src}}" alt="">
        <p>{{item.name}}</p>
    </li>
</ul>
<ul  class="goods">
    <li ng-repeat=" item in goods3" ng-click="getPage3()" >
        <img ng-src="{{item.src}}" alt="">
        <p>{{item.name}}</p>
    </li>
</ul>
<ul  class="goods">
    <li ng-repeat=" item in goods4" ng-click="getPage4()" >
        <img ng-src="{{item.src}}" alt="">
        <p>{{item.name}}</p>
    </li>
</ul>
<ul  class="goods">
    <li ng-repeat=" item in goods5" ng-click="getPage5()" >
        <img ng-src="{{item.src}}" alt="">
        <p>{{item.name}}</p>
    </li>
</ul>





</div>